<div class="container mt-5">
    <div class="row">
       <div class="col-md-12">
          <div class="card user-card">
             <div class="card-body">
                <% if(message.length) {%>
					<div class="alert alert-<%= type %>" role="alert">
					  <%= message %>
					</div>
				<% } %>
                <h1>😊 Halo, selamat datang</h1>
                <p>Silahkan masukkan license key terlebih dahulu, pembelian license akan kami arahkan ke pihak ketiga, Anda akan menerima license 1x24 jam ketika transaksi berhasil.</p>
                <form id="install-license" method="post">
                    <div class="form-group">
                        <label>License</label>
                        <input type="text" <%= license.active ? 'disabled' : '' %> name="license" value="<%= license.active ? 'LICENSE_INSTALLED' : '' %>" class="form-control" placeholder="XXXX-XXXX-XXXX-XXXX" autocomplete="off">
                    </div>
                    <span id="message"></span>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" <%= license.active ? 'disabled' : '' %> value="Install">
                        <% if(license.active) {%>
                            <a href="user/dashboard" class="btn btn-info">Kembali ke dashboard</a>
                        <% } %>
                    </div>
                </form>
            </div>
          </div>
       </div>
    </div>
    <div class="row mt-4">
        <%
            for(var i=0; i < 3; i++){
        %>
        <div class="col-md">
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title text-center">
                        <%= data[i].name_package %>
                        <%
                            if(data[i].disc != 0){
                        %>
                            <span class="badge badge-info"><%= data[i].disc %> %</span>
                        <%
                            }
                        %>
                    </h2>
                  <%
                    var realPrice = data[i].price - (data[i].price * (data[i].disc/100))
                  %>
                  <h3 class="text-center"><%= new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(realPrice) %></h3>
                </div>
                <ul class="list-group list-group-flush">
                    <%
                        for(var a=0; a < data[i].list_feature.length; a++){
                    %>
                    <li class="list-group-item"><%- data[i].list_feature[a].feature %></li>
                    <%
                        }
                    %>
                </ul>
                <div class="card-body">
                  <a href="<%= data[i].url %>" target="blank" class="btn btn-success btn-block">Beli</a>
                </div>
              </div>
        </div>
        <%
            }
        %>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    &copy; <%= new Date().getFullYear() %>, Powered By WHAPI
                </div>
            </div>
        </div>
    </div>
 </div>
 
 <script>

    $('#install-license').validate({
        rules: {
            license: {
                required: true
            }
        },
        messages: {
            license: {
                required: 'License wajib diisi'
            }
        },
        submitHandler: function(form) {
            $.ajax({
               type: 'POST',
               url: '../install-license',
               data: $('#install-license').serialize(),
               success: function(e) {
                   if (e.status) {
                        setInterval(function(){
                        window.location.href = 'signup'
                    }, 3000)
                   }
                   $("input[name=license]").val('');
                   $('#message').html('<div class="alert alert-'+e.clr+'" role="alert">' + e.message + '</div>').fadeIn(1000);
                   
               },
               error: function(xhr, status, error) {
                    alert( "Ada error : xhr = " + xhr.status + ' | pesan = ' + xhr.statusText );
               }
            });
        }
    })

 </script>