<div class="container mt-5">
   <div class="row">
      <div class="col-12">
         <div class="card user-card">
            <div class="card-body">
               Notifikasi : <span style="color:blue" id="notif"></span>
            </div>
         </div>
      </div>
   </div>
   <div class="row mt-3">
      <div class="col-md-9" id="">
         <%- include(content)  %>
      </div>
      <div class="col-md-3">
         <div class="card user-card">
            <div class="card-body">
               <h5>Halo, <%= detailUser.name.firstName + ' ' + detailUser.name.lastName %></h5>
               <a href="../install" class="btn btn-primary btn-block">Perpanjang Lisensi</a>
            </div>
         </div>
         <div class="list-group mt-3">
            <a href="dashboard" data-menu="dashboard" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><i class="fas fa-tachometer-alt fa-fw"></i> Dashboard</h5>
              </div>
            </a>
            <a href="utility" data-menu="utility" class="list-group-item list-group-item-action">
               <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><i class="fas fa-star fa-fw"></i> Utilitas/Tools</h5>
               </div>
            </a>
            <a href="log-system" data-menu="log_system" class="list-group-item list-group-item-action">
               <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><i class="fas fa-info-circle fa-fw"></i> Log Sistem</h5>
               </div>
            </a>
            <a href="test-webhook" data-menu="log_system" class="list-group-item list-group-item-action">
               <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><i class="fas fa-bell fa-fw"></i> Test Webhook</h5>
               </div>
            </a>
            <a href="changelog" class="list-group-item list-group-item-action">
               <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><i class="fas fa-history fa-fw"></i> Changelog</h5>
               </div>
            </a>
            <a href="account" class="list-group-item list-group-item-action">
               <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><i class="fas fa-user fa-fw"></i> Detail Akun</h5>
               </div>
            </a>
            <a href="settings" class="list-group-item list-group-item-action">
               <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><i class="fas fa-cogs fa-fw"></i> Setting Aplikasi</h5>
               </div>
            </a>
            <a href="logout" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
               <h5 class="mb-1"><i class="fas fa-lock fa-fw"></i> Logout</h5>
              </div>
            </a>
          </div>
         <div class="card user-card mt-3">
            <div class="card-body">
               <h5>Versi Aplikasi</h5>
               <p id="load_latest_version">Loading...</p>
            </div>
         </div>
      </div>
   </div>
   <div class="row mt-4">
      <div class="col">
          <div class="card">
              <div class="card-body">
                  &copy; <%= new Date().getFullYear() %>, Powered By WHAPI
              </div>
          </div>
      </div>
    </div>
</div>

<script>
   $.get('../user/checkVersionApp', (e) => {
      $('#load_latest_version').html(e)
   }).fail(function() {
      alert("Error load page");
   })
</script>
