<div class="row">
    <div class="col-12">
        <% if(message.length) {%>
            <div class="alert alert-<%= type %>" role="alert">
              <%= message %>
            </div>
        <% } %>
        <div class="console mb-5">
            <header>
              <p>admin@whatsapp-api | <a href="resetLogEvent" onclick="return confirm('Apakah Anda yakin ?, Data log sistem, dan data lainnya akan hilang, tindakan ini tidak bisa dibatalkan')" class="btn btn-info btn-sm">Bersihkan Log</a></p>
            </header>
            <div class="consolebody" id="messages">
                <h2>Monitor API Whatsapp</h2>
                <p style="margin-bottom:0">Anda dapat memantau aktifitas whatsapp web secara realtime disini, log disimpan di database.</p>
                <p style="margin-bottom:0">&nbsp;</p>
                <div id="id-messages">
                    <% for (var i = 0; i < logEvent.length; i++) { %>
                        <p style="margin-bottom:0">[ <%= moment(logEvent[i].createdAt).format('HH:mm:ss') %> ][ <%= logEvent[i].eventType %> ] <%= logEvent[i].message %></p>
                    <% } %>
                </div>
            </div>
          </div>
    </div>
</div>
<script>
    var list_message = parseInt('<%= i %>');
    $(function() {
        var socket = io();
        socket.on('event_log', function(msg) {
            if (list_message >= 150) {
                console.log(true);
                $('#id-messages').find('p').first().remove();
            }
            list_message++;
            $("#messages").stop().animate({ scrollTop: $("#messages")[0].scrollHeight}, 1000)
            $('#id-messages').append($('<p style="margin-bottom:0">').text(msg));
        });
    })
</script>