<div class="row">
    <div class="col-12">
        <div class="card user-card mb-3">
            <div class="card-body">
                <h5>URL API</h5>
                <div class="alert alert-dark" role="alert">
                    <b><span><%= urlApi %></span></b>
                </div>
                <h5>API Key</h5>
                <div class="alert alert-dark" role="alert">
                    <b><span id="new-apikey"><%= detailUser.login.apiKey %></span></b>
                </div>
                <form id="change-apikey">    
                    <div class="form-group">
                        <button type="submit" class="btn btn-info">Ubah API Key</button>
                    </div>
                </form>
               <form id="save-webhook">
                    <div class="form-group">
                        <label>URL Webhook</label>
                        <input type="text" name="url_webhook" value="<%= settings.urlWebhook %>" class="form-control" autocomplete="off" placeholder="No Tujuan">
                    </div>
                    <h5>Notifikasi Downtime</h5>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label>Token Telegram</label>
                                <input type="text" name="token_telegram" value="<%= settings.tokenTelegram %>" class="form-control" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>ID Telegram</label>
                                <input type="text" name="id_telegram" value="<%= settings.idTelegram %>" class="form-control" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info">Simpan</button>
                    </div>
               </form>
               <div class="form-group">
                    <h5>Uninstall License</h5>
                   <p>Jika Anda ingin memindah aplikasi ini ke pc/vps/hosting lain, Anda wajib menguninstall license di aplikasi ini terlebih dahulu.</p>
                <a href="../uninstall-license" class="btn btn-danger" onclick="return confirm('Apakah Anda yakin ?, Data log sistem, dan data lainnya akan hilang, tindakan ini tidak bisa dibatalkan')">Uninstall License</a>
               </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#change-apikey').validate({
        submitHandler: function(form) {
            $.ajax({
               type: 'POST',
               url: '../user/newApiKey',
               data: $('#change-apikey').serialize(),
               success: function(e) {
                   $("#new-apikey").html(e.results.apiKey)
                   $("#notif").notify(e.results.message, { position:"right", className: 'info', arrowShow: false });
               },
               error: function(xhr, status, error) {
                  var errorMessage = "Ada error : xhr = " + xhr.status + ' | pesan = ' + xhr.statusText;
                  $("#notif").notify(errorMessage, { position:"right", className: 'error', arrowShow: false });
               }
            });
        }
    })

    $('#save-webhook').validate({
        rules: {
            url_webhook: {
                required: true
            }
        },
        messages: {
            url_webhook: {
                required: 'URL Webhook wajib diisi'
            }
        },
        submitHandler: function(form) {
            $.ajax({
               type: 'POST',
               url: '../user/saveWebhook',
               data: $('#save-webhook').serialize(),
               success: function(e) {
                   $("#notif").notify(e.results.message, { position:"right", className: 'info', arrowShow: false });
               },
               error: function(xhr, status, error) {
                  var errorMessage = "Ada error : xhr = " + xhr.status + ' | pesan = ' + xhr.statusText;
                  $("#notif").notify(errorMessage, { position:"right", className: 'error', arrowShow: false });
               }
            });
        }
    })
</script>